<a href="https://colab.research.google.com/github/delicate99/Python_ML/blob/main/KfoldCV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

In [15]:
df= pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv')
df.head(5)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [16]:
X= df.drop('Sales', axis=1)
y= df.Sales

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [18]:
scaler = StandardScaler()

In [19]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_train = scaler.transform(X_train)

In [21]:
X_test =scaler.transform(X_test)

In [22]:
model= Ridge(alpha =100)

In [23]:
score =cross_val_score(model, X_train, y_train, scoring ='neg_mean_squared_error', cv=5)

In [24]:
score

array([ -9.46077895,  -4.99113998, -11.41979353,  -7.02510055,
        -8.4068186 ])

In [25]:
abs(score.mean())

8.260726318542556

In [26]:
model= Ridge(alpha =1)

In [27]:
score =cross_val_score(model, X_train, y_train, scoring ='neg_mean_squared_error', cv=5)

In [28]:
abs(score.mean())

3.35824045994748

In [29]:
model.fit(X_train, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [30]:
y_pred_final= model.predict(X_test)

In [31]:
mean_squared_error(y_test, y_pred_final)

2.4135807641416784

In [32]:
score =cross_validate(model, X_train, y_train, scoring =['neg_mean_squared_error','neg_mean_absolute_error'], cv=10)

In [33]:
scores =pd.DataFrame(score)

In [34]:
scores

   fit_time  ...  test_neg_mean_absolute_error
0  0.001467  ...                     -1.440573
1  0.001611  ...                     -1.613269
2  0.000926  ...                     -1.217058
3  0.000710  ...                     -0.796995
4  0.000738  ...                     -1.420258
5  0.000717  ...                     -1.485559
6  0.000700  ...                     -1.033155
7  0.000711  ...                     -1.241214
8  0.000672  ...                     -1.622663
9  0.000920  ...                     -1.168318

[10 rows x 4 columns]

In [35]:
scores.mean()

fit_time                        0.000917
score_time                      0.001026
test_neg_mean_squared_error    -3.341985
test_neg_mean_absolute_error   -1.303906
dtype: float64

In [36]:
model.fit(X_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [37]:
y_pred = model.predict(X_test)

In [38]:
mean_squared_error(y_test, y_pred)

2.4135807641416784

## Grid Search

In [39]:
base_elastic_net_model = ElasticNet()

In [51]:
param_grid = {'alpha':[0.1, 1, 5, 10, 50,100], 'l1_ratio':[0.1,0.5,0.7,.95, .99,1]}

In [52]:
grid_model = GridSearchCV(estimator = base_elastic_net_model, param_grid=param_grid, scoring='neg_mean_squared_error',
                          verbose =1, cv =5)

In [53]:
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 180 out of 180 | elapsed:    0.3s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True,
                                  l1_ratio=0.5, max_iter=1000, normalize=False,
                                  positive=False, precompute=False,
                                  random_state=None, selection='cyclic',
                                  tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=1)

In [54]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=1,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [55]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [56]:
pd.DataFrame(grid_model.cv_results_)

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0        0.001169      0.000625  ...        1.605878                6
1        0.000669      0.000016  ...        1.519703                5
2        0.000659      0.000023  ...        1.475358                4
3        0.000686      0.000044  ...        1.419639                3
4        0.000662      0.000021  ...        1.410057                2
5        0.000735      0.000075  ...        1.407572                1
6        0.000693      0.000041  ...        2.225301               12
7        0.000698      0.000042  ...        2.255532               11
8        0.000827      0.000273  ...        2.206213               10
9        0.000675      0.000014  ...        2.102835                9
10       0.000682      0.000012  ...        2.079945                8
11       0.000671      0.000016  ...        2.073832                7
12       0.000699      0.000015  ...        3.334901               13
13       0.000685      0.000044  ...        4.108297               14
14       0.001017      0.000416  ...        4.077877               16
15       0.000681      0.000012  ...        4.077240               17
16       0.000672      0.000017  ...        4.077240               17
17       0.000674      0.000016  ...        4.077240               17
18       0.000680      0.000034  ...        3.794608               15
19       0.000700      0.000051  ...        4.077240               17
20       0.000666      0.000024  ...        4.077240               17
21       0.000672      0.000012  ...        4.077240               17
22       0.000671      0.000010  ...        4.077240               17
23       0.000666      0.000011  ...        4.077240               17
24       0.000657      0.000012  ...        4.077240               17
25       0.000675      0.000017  ...        4.077240               17
26       0.001219      0.000327  ...        4.077240               17
27       0.000679      0.000022  ...        4.077240               17
28       0.000665      0.000018  ...        4.077240               17
29       0.000701      0.000029  ...        4.077240               17
30       0.000744      0.000100  ...        4.077240               17
31       0.000691      0.000026  ...        4.077240               17
32       0.000653      0.000023  ...        4.077240               17
33       0.000674      0.000032  ...        4.077240               17
34       0.000655      0.000016  ...        4.077240               17
35       0.000663      0.000012  ...        4.077240               17

[36 rows x 15 columns]

In [ ]:
y_pred = grid_model.predict(X_test)

In [57]:
mean_squared_error(y_test, y_pred)

2.4135807641416784